<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}UrbaNexx{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <header>
    <h1>UrbaNexx</h1>
    <p>Global City Data Dashboard</p>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <small>© {{ 2026 }} UrbaNexx</small>
  </footer>

</body>
</html>
